/data/
/target/
/*.pid
/node_modules/

# Rust build artifacts and locks
engine/abstraction/target/
engine/abstraction/Cargo.lock
backend/connectors/common/target/
backend/connectors/common/Cargo.lock
backend/connectors/binance_futures/target/
backend/connectors/binance_futures/Cargo.lock
backend/market/target/
backend/market/Cargo.lock